@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #1a1a1a;
  --foreground: #f4b22f;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.social-icon img {
  transition: transform 0.3s;
  filter: invert(1);
}

.social-icon img:hover {
  transform: scale(1.1); /* Hover'da büyütme efekti */
  filter: invert(66%) sepia(93%) saturate(394%) hue-rotate(350deg)
    brightness(98%) contrast(94%);
}
